body{
    background-color: aqua;
    margin: 0px auto;
}
.ul {
    display: flex;
}
.ul li{
    list-style: none;
}
.apart{
    display: flex;
    justify-content: space-between;
    font-size: 25px;
    border: 3px solid white;
}
.foo{
    background-color: black;
    text-align: center;
    color: aliceblue;
    font-weight: 700;
    margin: 0 auto;
    padding: 25px;
}
.side{
    border: 2px solid blueviolet;
    padding: 7px;
}